#header {
    height: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.genre-button {
    background-color: rgb(255, 166, 0);
    color: white;
    border: none;
    padding: 15px;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.logo img {
    width: 120px;
    height: 120px;
}
.logo span {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
}
.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
}
.search-bar input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
}
.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.actions select, .actions button {
    margin-left: 10px;
    padding: 10px 15px;
}

.kirja {
    width: 50px;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.kirja > * {
    padding-left: 15px;
    padding-right: 15px;
}
.kirja >img {
    max-height: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.h1 {
    font-family: "Poppins", sans-serif;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.row{
    margin-left: 8%;
    margin-right: 8%;
}
.poppins {
    font-family: "Poppins", sans-serif !important;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.opensans {
    font-family: "Open Sans", sans-serif !important;
}
.kirjarow {
    
}